<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/">
        <span class="glyphicon glyphicon-home"></span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="svgbarcode-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="{'active': vm.activeItem === 'codes'}"><a ng-href="#/">Codes</a></li>
        <li ng-class="{'active': vm.activeItem === 'api'}"><a ng-href="#/api">API Document</a></li>
        <li ng-class="{'active': vm.activeItem === 'subscription'}"><a ng-href="#/subscription">Subscription</a></li>
      </ul>
    </div>
  </div>
</nav>
