<div class="container">

  <div>
    <wedge-navbar active-item="subscription"></wedge-navbar>
  </div>

  <h2 class="text-center">Order Confirmation</h2>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <p>Your order has been replaced. A confirmation email with your api credentials will be sent to you shortly. Please contact support@wedgeup.com for any support regarding your order.</p>
    </div>
  </div>
</div>
