<div class="container">
  <div>
    <wedge-navbar active-item="subscription"></wedge-navbar>
  </div>

  <p>Currently there are two monthly subscription plans available. You can contact our support team through support@wedgeup.com for quote of other usages.</p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr class="info">
        <td>Plan Name</td>
        <td>Maximum API calls</td>
        <td>Price</td>
        <td>Free Trial Period</td>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>Plan 1</td>
      <td>1000</td>
      <td>$9.99</td>
      <td>First Month</td>
    </tr>
    <tr>
      <td>Plan 2</td>
      <td>4000</td>
      <td>$19.99</td>
      <td>First Month</td>
    </tr>
    </tbody>
  </table>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="form-horizontal col-sm-6 col-sm-offset-3" style="top: 20px">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="ET8BRGX346VS8">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="on0" value="">
    <div class="form-group">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-6">
        <h3 class="form-control-static">Order Form</h3>
      </div>
    </div>
    <div class="form-group">
      <label for="custom" class="col-sm-2 control-label">Email</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="custom" placeholder="Email" ng-model="sc.userEmail" name="custom" required>
      </div>
    </div>
    <div class="form-group">
      <label for="planSelect" class="col-sm-2 control-label">Plan</label>
      <div class="col-sm-6">
        <select name="os0" id="planSelect" class="form-control">
          <option value="plan_1">Plan 1</option>
          <option value="plan_2">Plan 2</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-2">&nbsp;</div>
      <div class="col-sm-4">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </div>
    </div>
  </form>

</div>
