<div class="container">
    <div>
        <wedge-navbar active-item="api"></wedge-navbar>
    </div>

    <p>Registered customers with access code are able to use Restful web service to generate barcode. Available web services details are listed below:</p>

    <h3 class="text-warning">https://www.svgbarcode.com/barcode-generator/secure/v1/barcode</h3>
    <h4><strong>Method</strong></h4>
    <p><button type="button" class="btn btn-primary btn-xs" disabled="disabled">POST</button></p>
    <h4><strong>Authentication</strong></h4>
    <p><button type="button" disabled class="btn btn-primary btn-xs">BASIC</button></p>
    <table class="table table-striped table-bordered">
        <tbody>
        <tr>
            <td class="active"><strong>User</strong></td>
            <td>Your email address</td>
        </tr>
        <tr>
            <td class="active"><strong>Password</strong></td>
            <td>Access code you purchased</td>
        </tr>
        </tbody>
    </table>
    <h4><strong>Payload</strong></h4>
    <p>A JASON object with contains following properties</p>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th class="col-md-2">Property Name</th>
            <th class="col-md-1">Date Type</th>
            <th class="col-md-1">Required</th>
            <th class="col-md-8">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>content</td>
            <td><button type="button" class="btn btn-primary btn-xs" disabled="disabled">string</button></td>
            <td>&#10004;</td>
            <td>Text to be encoded into barcode</td>
        </tr>
        <tr>
            <td>type</td>
            <td><button type="button" class="btn btn-primary btn-xs" disabled="disabled">string</button></td>
            <td>&#10004;</td>
            <td>
                <p>
                    Case sensitive text presents barcode type. Values currently allowed include:<br>
                    <span class="text-pill empty-space">QR_CODE</span>
                    <span class="text-pill empty-space">AZTEC</span>
                    <span class="text-pill empty-space">DATA_MATRIX</span>
                    <span class="text-pill empty-space">PDF_417</span>
                    <span class="text-pill empty-space">Code 128</span>
                </p>
            </td>
        </tr>
        <tr>
            <td>settings</td>
            <td><button type="button" class="btn btn-xs" disabled="disabled">array</button></td>
            <td>&#10060;</td>
            <td>
                <p>
                    An array of <button type="button" class="btn btn-xs" disabled="disabled">object</button> which one defines a setting the barcode generator will apply when generating your barcode. Each setting object contains two properties: <span class="text-pill">name</span> and <span class="text-pill">value</span>. Acceptable settings of different barcode type are listed below:
                </p>
                <h5>QR_CODE</h5>
                <dl class="dl-horizontal">
                    <dt><small>ERROR_CORRECTION</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{string}</span> - Error correction level. Available values are <span class="text-pill">L</span>
                            <span class="text-pill">M</span>
                            <span class="text-pill">H</span>. Default value is <span class="text-pill">L</span></p>
                    </dd>
                    <dt><small>MARGIN</small></dt>
                    <dd><p><span class="text-pill-color">{number}</span> - Quiet zone width at all sides. Measure unit is the width of the smallest element in the QR code. Default value is <span class="text-pill">2</span></p></dd>
                </dl>
                <h5>AZTEC</h5>
                <dl class="dl-horizontal">
                    <dt><small>AZTEC_LAYERS</small></dt>
                    <dd><p><span class="text-pill-color">{number}</span> - Aztec code layers. It accepts integer number range between -4 and 32. Default value is <span class="text-pill">0</span></p></dd>
                    <dt><small>CHARACTER_SET</small></dt>
                    <dd><p><span class="text-pill-color">{string}</span> - Encoding character set. Available values are <span class="text-pill">ISO-8859-1</span>
                        <span class="text-pill">US-ASCII</span>
                        <span class="text-pill">UTF-8</span>
                        <span class="text-pill">UTF-16</span>. Default value is
                        <span class="text-pill">ISO-8859-1</span></p></dd>
                    <dt><small>ERROR_CORRECTION</small></dt>
                    <dd><p><span class="text-pill-color">{number}</span> - Error correction level. It accepts integer number between 0 and 100. Default value is <span class="text-pill">2</span></p></dd>
                    <dt><small>MARGIN</small></dt>
                    <dd><p><span class="text-pill-color">{number}</span> - Quiet zone width at all sides. Measure unit is the width of the smallest element in the AZTEC code. Default value is <span class="text-pill">2</span></p></dd>
                </dl>
                <h5>DATA_MATRIX</h5>
                <dl class="dl-horizontal">
                    <dt><small>DATA_MATRIX_SHAPE</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{string}</span> - Data matrix shape to be forced. Available values are <span class="text-pill">FORCE_NONE</span>
                            <span class="text-pill">FORCE_SQUARE</span>
                            <span class="text-pill">FORCE_RECTANGLE</span>. Default value is
                            <span class="text-pill">FORCE_NONE</span></p>
                    </dd>
                    <dt><small>MARGIN</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{number}</span> - Quiet zone width at all sides. Measure unit is the width of the smallest element in the Data Matrix code. Default value is <span class="text-pill">2</span></p>
                    </dd>
                </dl>
                <h5>PDF_471</h5>
                <dl class="dl-horizontal">
                    <dt><small>PDF417_COMPACT</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{string}</span> - Whether applying compact format when generating the code. Available values are <span class="text-pill">true</span>
                            <span class="text-pill">false</span>. Default value is
                            <span class="text-pill">false</span></p>
                    </dd>
                    <dt><small>PDF417_COMPACTION</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{string}</span> - Encoding schemes. Available values are <span class="text-pill">AUTO</span>
                            <span class="text-pill">TEXT</span><span class="text-pill">BYTE</span><span class="text-pill">NUMERIC</span>. Default value is
                            <span class="text-pill">AUTO</span></p>
                    </dd>
                    <dt><small>CHARACTER_SET</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{string}</span> - Encoding character set. Available values are <span class="text-pill">ISO-8859-1</span>
                            <span class="text-pill">US-ASCII</span>
                            <span class="text-pill">UTF-8</span>
                            <span class="text-pill">UTF-16</span>. Default value is
                            <span class="text-pill">ISO-8859-1</span></p>
                    </dd>
                    <dt><small>ERROR_CORRECTION</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{number}</span> - Error correction characters number. It accepts integer number between 2 and 512. Default value is <span class="text-pill">2</span></p>
                    </dd>
                    <dt><small>MARGIN</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{number}</span> - Quiet zone width at all sides. Measure unit is the width of the smallest element in the PDF 417 code. Default value is <span class="text-pill">2</span></p>
                    </dd>
                </dl>
                <h5>CODE_128</h5>
                <dl class="dl-horizontal">
                    <dt><small>MH</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{number}</span> - Quiet zone width on both sides. Measure unit is the width of the smallest element in the Code 128. Default value is <span class="text-pill">10</span></p>
                    </dd>
                    <dt><small>MV</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{number}</span>  - Quiet zone width at top and bottom. Measure unit is the width of the smallest element in the Code 128. Default value is <span class="text-pill">0</span></p>
                    </dd>
                    <dt><small>R</small></dt>
                    <dd>
                        <p><span class="text-pill-color">{number}</span> - height and width ratio of Code 128. It should equals desired height divided by desired width. If code generated has width of 100 units and the ratio value is 0.4, the height of the code will be 100 * 0.4 = 40 units. Default value is <span class="text-pill">0</span></p>
                    </dd>
                </dl>
            </td>
        </tr>
        </tbody>
    </table>
    <h4><strong>Sample Request Payload</strong></h4>
    <p>To create a QR code to present "www.yourdomain.com" with error correction level medium and quiet zone size 1:</p>
	<pre>
	{
		content: "www.yourdomain.com",
		type: "QR_CODE",
		settings: [
			{
				name: "ERROR_CORRECTION",
				value: "M"
			},
			{
				name: "MARGIN",
				value: 1
			}
		]
	}
	</pre>
    <h4><strong>Response</strong></h4>
    <p><button type="button" class="btn btn-primary btn-xs" disabled="disabled">string</button><span class="space-tab">Text to present svg barcode</span></p>
    <h4><strong>Error Code</strong></h4>
    <p><button type="button" class="btn btn-primary btn-xs" disabled="disabled">401</button><span class="space-tab">Access code is invalid or expired</span></p>
    <p><button type="button" class="btn btn-primary btn-xs" disabled="disabled">403</button><span class="space-tab">Barcode configuration error</span></p>
    <p><button type="button" class="btn btn-primary btn-xs" disabled="disabled">500</button><span class="space-tab">System error</span></p>
</div>
