<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
</head>
<body>
    <p>Dear customer</p>
    <p>This is confirmation for your order on www.svgbarcode.com. The order detail are:</p>
    <p><b>Username</b>:&nbsp;&nbsp;&nbsp;&nbsp;{{userEmail}}</p>
    <p><b>Password:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{accessCode}}</p>
    <p><b>Monthly API limits:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{apiLimit}}</p>
    <p>If you have any question or need any help, please email support@wedgeup.com. Thank you for your business</p>
    <p>Sincerely</p>
    <p>Wedgeup Support Team</p>
</body>
</html>