/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
@import 'color';

$footer-height: 6rem;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

#wrap {
  min-height: 100%;
  height: calc(98% - $footer-height) !important;
  min-height: 98vh;
  margin-top: 0;
}

footer {
  height: $footer-height;
}

.footer {
  margin-top: 2rem;
  background-color: lighten($silver-charlie, 25%);
}

.space-tab {
  padding-left: 4em;
}

.empty-space {
  padding-left: 1em;
}

.text-pill{
  background: lighten($silver-charlie, 25%);
  padding: 0 0.2em;
}

.text-pill-color {
  background: lighten($silver-charlie, 25%);
  padding: 0 0.2em;
  color: $sandy-brown;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
