<div class="container">
	<div>
    <wedge-navbar active-item="codes"></wedge-navbar>
  </div>

  <div class="row" ng-show="!gc.previewAvailable">
    <div class="col-md-12 col-sm-12">
      <p class="bg-danger">Your browser does not support SVG content. No preview is available.</p>
    </div>
  </div>

	<div class="row">
		<h2 class="text-center">{{gc.barcode.name}} Generator</h2>
	</div>

	<div class="alert alert-danger alert-dismissible" role="alert" ng-show="gc.errorMsg != null">
  		<button type="button" class="close" aria-label="Close" ng-click="gc.dismissAlert()"><span aria-hidden="true">&times;</span></button>
  		{{gc.errorMsg}}
	</div>
	<div class="row">
		<div class="col-sm-8 col-md-6 code-setting">
			<form class="form-horizontal">
				<div class="form-group">
					<div class="col-sm-12"><label for="barcodeContent">Barcode Content</label></div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<textarea id="barcodeContent" class="form-control" ng-model="gc.barcodeContent"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12"><label>Barcode Settings</label></div>
				</div>
				<div class="form-group" ng-repeat="setting in gc.settings">
					<lable class="col-sm-5 control-lable" for="setting_{{::setting.definition.name}}">{{::setting.definition.description}}</lable>
					<div class="col-sm-7" ng-if="setting.definition.type === 'Select'">
						<select name="{{::setting.definition.name}}" id="setting_{{::setting.definition.name}}" class="form-control" ng-model="setting.value">
							<option value="{{::option.value}}" ng-slected="setting.value" ng-repeat="option in setting.definition.options">{{::option.label}}</option>
						</select>
					</div>
					<div class="col-sm-7" ng-if="setting.definition.type === 'Number'">
						<input type="number" name="{{::setting.definition.name}}" id="setting_{{::setting.definition.name}}" ng-model="setting.value" class="form-control">
					</div>
					<div class="col-sm-7" ng-if="setting.definition.type === 'Range'">
						<input type="number" class="form-control" name="{{::setting.definition.name}}" id="setting_{{::setting.definition.name}}" ng-model="setting.value" min="{{::setting.definition.minimum}}" max="{{::setting.definition.maxium}}" stpe="1">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-7 col-sm-offset-5">
						<button class="btn btn-primary" ng-click="gc.generateBarcode()" ng-disabled="gc.processing">Create Barcode</button>
					</div>
				</div>
				<div class="form-group border-top" ng-show="gc.displayResult() === true">
					<div class="col-sm-8">
						<label for="barcodeContent">Result</label>
						<div class="btn-group btn-group-xs">
							<button class="btn btn-xs" ng-class="gc.isXmlFormat? ['btn-info', 'active'] : 'btn-default'" ng-click="gc.updateResultFormat('xml')">XML</button>
							<button class="btn btn-xs" ng-class="gc.isXmlFormat? 'btn-default' : ['btn-info', 'active']" ng-click="gc.updateResultFormat('base64')">Base 64</button>
						</div>
					</div>
					<div class="col-sm-4">
						<button class="btn btn-primary pull-right" ngclipboard data-clipboard-target="#output">Copy To Clipboard</button>
					</div>
				</div>
				<div class="form-group" ng-show="gc.displayResult() === true">
					<div class="col-sm-12">
						<textarea name="output" id="output" ng-model="gc.output" class="form-control"></textarea>
					</div>
				</div>
  			</form>
		</div>
		<div class="col-sm-4 col-md-6 code-preview" ng-class="{'hidden-xs': !gc.previewAvailable}">
			<div class="dummy"></div>
			<div class="square image-view" ng-style="gc.bgStyle">
			</div>
		</div>
	</div>
</div>
