@import 'color';

.dummy {
    margin-top: 100%;
    @media(max-width: 768px) {
        float: left;
    }
}
.square {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
    @media(max-width: 768px) {
        float: left;
    }
}

.border-top {
    border-top-width: 2px;
    border-top-color: $silver-charlie;
    border-top-style: solid; 
    padding-top: 10px;   
}

.code-preview {
	.image-view {
		border: solid 1px $silver-charlie;
		border-radius: 5px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain
	}
}

textarea#output {
   height: 20rem; 
}