<div class="container">

  <div>
    <wedge-navbar active-item="codes"></wedge-navbar>
  </div>

  <h2 class="text-center">Bar Code SVG Generators</h2>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h3>2D</h3>
    </div>
  </div>
  <div class="row">
    <wedge-barcard barcode="barcode" ng-repeat="barcode in main.barcodes | filter: {category: '2D'}"/>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h3>1D</h3>
    </div>
  </div>
  <div class="row">
    <wedge-barcard barcode="barcode" ng-repeat="barcode in main.barcodes | filter: {category: '1D'}"></wedge-barcard>
  </div>
</div>
