@import 'color';

$barcard-border-color: $silver-charlie;
$barcard-bg-color: $white;


$code-formats: "QR_CODE" "AZTEC" "CODE_128" "DATA_MATRIX" "PDF_417";

@mixin svg-fallback-bg {
	@each $format in $code-formats {
		.#{$format}-bg-img {
			background-image: url('../assets/images/#{$format}.png');
			background-image: linear-gradient(transparent, transparent), url('../assets/images/#{$format}.svg');
		}
	}
}

@include svg-fallback-bg;

.barcard {
	cursor: pointer;

	h3 {
		background: $barcard-bg-color;
		margin-top: calc(100px - 1rem * 1.7);
	}

	.thumbnail {
		border: 1px solid $barcard-border-color;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
	}
}
