@import 'color';

#error-center-pannel {
	height: 10rem;
	margin-top: 10rem;
	color: $roman;
	text-aligh: center;
	
	.text-wrapper {
		width: 100%;
		height: 100%;
		text-align: center;
	}
	span {		
		padding-right: 2rem;
	}
}