<div class="container">
  <div>
    <wedge-navbar active-item="error"></wedge-navbar>
  </div>
  <div class="row">
  	<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" id="error-center-pannel">
  		<div class="center-block text-wrapper">
  			<h1><span class="glyphicon glyphicon-exclamation-sign"></span>{{::gec.errorMsg}}</h1>
  		</div>
  	</div>
  </div>
</div>